body {
  font-family: 'Lato', sans-serif !important;
}

h1 .h1 {
  font-family: 'Lato', sans-serif !important;
}
h2 .h2 {
  font-family: 'Lato', sans-serif !important;
}

h3 .h3 {
  font-family: 'Lato', sans-serif !important;
}

h4 .h4 {
  font-family: 'Lato', sans-serif !important;
}

h5 .h5 {
  font-family: 'Lato', sans-serif !important;
}
h6 .h6 {
  font-family: 'Lato', sans-serif !important;
}

p .h6 {
  font-family: 'Lato', sans-serif !important;
}
