.wrapper {
  width: 100%;
  @include ltr-rtl('padding-left', var(--cui-sidebar-occupy-start, 0));
  will-change: auto;
  @include transition(padding 0.15s);
}

.dropdown-item:hover,
.dropdown-item:focus {
  color: #475468;
  color: var(--cui-dropdown-link-hover-color, #475468);
  background-color: #d8dbe0;
  background-color: var(--cui-dropdown-link-hover-bg, #d8dbe0);
  cursor: pointer;
}
a {
  cursor: pointer;
}
